@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nunito:wght@400&display=swap');

.profile{
    width: 100%;
    height: 100%;
    max-width: 80rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    overflow-y: scroll;
    overflow-x:hidden;
}

.container{
    margin:2rem auto;
}

.introduction{
    font-weight: bolder;
}

.input{
    width:20rem;
    border:none;
    border-radius:0.8rem;
    padding:0.8rem 1rem;
    text-align: center;
}

.submit{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: rgb(100, 100, 163);
}

.logout{
    color:white;
    background-color: rgba(70, 66, 72, 0.6);
    position:absolute;
    right:1rem;
    bottom:1rem;
    padding:0.5rem;
    border:none;
    border-radius:0.4rem;
    cursor: pointer;
}


.profile::-webkit-scrollbar {
    width:5px;
}

.profile::-webkit-scrollbar-thumb {
    background-color: #777485;
}

.profile::-webkit-scrollbar-track {
    background-color: rgb(170, 167, 167);
    box-shadow: inset 0px 0px 5px white;
}


@media screen and (min-width:769px){
    .profile::-webkit-scrollbar {
        display: none;
    }
}