@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nunito:wght@400&display=swap');

.nawit{
    width:20rem;
    margin:1.5rem auto;
    padding:1.2rem;
    border-radius:1.2rem;
    background-color: rgb(245, 248, 250);
    font-family: 'Nunito', sans-serif;
    font-size:0.9rem;
}

.contentBox{
    text-align: left;
}

.bottomBox{
    display: flex;
    justify-content: space-between;
    color:gray;
}

.buttons{
    line-height: 50px;
}

.button{
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size:0.8rem;
}