@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nunito:wght@400&display=swap');

.nawit{
    width:20rem;
    height:9rem;
    margin:1rem auto;
    padding:1.5rem;
    border-radius:1.2rem;
    background-color: rgb(234, 240, 243);
    display: flex;
    flex-direction: column;
    align-content:space-between;
    font-family: 'Nunito', sans-serif;
    font-size:0.9rem;
}

.bottomBox{
    display: flex;
    justify-content: space-between;
}

.button{
    border:none;
    background-color: transparent;
    cursor: pointer;
}