
.title{
    font-weight: bolder;
}

.preview{
    width:30rem;
    margin:1.5rem auto;
    background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width:767px){
    .preview{
        width:100%;
        margin:1.5rem auto;
        background-color: rgba(255, 255, 255, 0.4);
    }
}