
.home{
    width: 100%;
    height: 100%;
    max-width: 80rem;
    text-align: center;
    overflow-y: scroll;
    
}

.home::-webkit-scrollbar {
    display: none;
}

/* 
.home::-webkit-scrollbar {
    width:5px;
}

.home::-webkit-scrollbar-thumb {
    background-color: #777485;
}

.home::-webkit-scrollbar-track {
    background-color: rgb(170, 167, 167);
    box-shadow: inset 0px 0px 5px white;
} */