* {
    list-style:none;
    text-decoration: none;
    color:inherit;
    box-sizing: border-box;
}

body{
    background-color: #ccd4e5;
    /* background: linear-gradient(45deg, #91a2c9 0%, #e4efe9 100%); */

}

.app{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    height:3rem;
    color:rgb(69, 69, 69);
}

.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    padding:0;
    margin:0;
}

#home{
    transition: all 100ms ease-in;
}

#home:hover{
    color:rgb(235, 238, 167);
}

#profile{
    transition: transform 0.8s ease;
}
#profile:hover{
    transform: rotate( 75deg );
}